/*sets font size, spacing, and styling of DOM*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
/*Sets styling for page header*/
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/*Sets sizing and positoning of description in HTML which contains the time allocation for each hour on planner*/
.description {
  white-space: pre-wrap;
  width: 10%;
  height: 20px;
  margin: 0;
}
/*Sets styling, sizing, positioning, and attributes for the container of each planner hour*/
.timeBlock {
  display: flex;
  flex-wrap: wrap;
  border: solid;
  text-align: center;
  border-radius: 15px;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}
/*Sets sizing and styling for input section of each planner hour*/
.row {
  white-space: pre-wrap;
  height: 80px;
  width: 80%;
  border-top: 1px solid white;
  margin: 0;
}

/*Sets background color to grey if the planner hour is in the past*/
#past {
  background-color: #d3d3d3;
}
/*Sets background color to red if the planner hour is the same as local hour*/
#present {
  background-color: #ff6961;
}
/*Sets background color to green if the planner hour is in the future*/
#future {
  background-color: #77dd77;
}
/*Sets styling, size, and positioning of save button*/
.saveBtn {
  height: 80px;
  width: 10%;
  border: 0px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  background-color: #06aed5;
  color: white;
}
/*changes styling of save button upon mouse hover*/
.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  color: black;
}
